.footer {
  .circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
    .mask {
      width: 150px;
      height: 150px;
      position: absolute;
      border-radius: 50%;
      .fill {
        width: 150px;
        height: 150px;
        position: absolute;
        border-radius: 50%;
        clip: rect(0px, 75px, 150px, 0px);
        background-color: #227ded;
      }
    }
  }
}
